.App-header {
    background-color: #82ab70;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap: 0.2rem
  }
  
  
  .App-header p {
    margin-top: 0;
   
  }

  .App-logo {
    height: 20vmin;
  }
  

  h1{padding: 10px;color: #46211A}
